
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Karolina">

    <title>Start Page</title>

    <link href="~/css/style_home.css" rel="stylesheet">

</head>

<body>

<!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Task Manager!</div>
                <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="@Url.Action("LogIn", "Account")">Log In</a>
                <a class="btn btn-primary btn-xl text-uppercase" href="@Url.Action("Register", "Account")">Register</a>

            </div>
        </div>
    </header>

</body>

</html>